h1 {
  margin-inline: 0px;
  margin-block: 0px;
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav"
    "professional"
    "header-background"
    "interior";
  
  @include respond-to(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 350px 300px 100px;
    grid-template-areas: 
      "nav nav"
      "professional professional"
      "header-background header-background"
      "interior interior";
  }
  
  @include respond-to(laptop) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 99px 150px 400px 150px 107px;
    grid-template-areas: 
      "nav header-background"
      ". header-background"
      "professional header-background"
      ". header-background"
      "interior header-background";
    max-width: 1440px;
    margin: 0 auto;
  }
  
  @include respond-to(desktop) {
    grid-template-columns: 864px 1fr;
    grid-template-rows: 99px 174px 457px 170px 107px;
    max-width: 1920px;
  }
}

nav {
  grid-area: nav;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  @include respond-to(tablet) {
    padding: 20px 40px;
  }
  
  @include respond-to(laptop) {
    padding-left: 60px;
    flex-wrap: nowrap;
  }
  
  @include respond-to(desktop) {
    padding-left: 100px;
  }
  
  ul {
    display: none;
    
    @include respond-to(desktop) {
      gap: 35px;
      display: flex;
      margin-right: 0;
    }
  }
  
  li {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #ABAEB7;
    
    @include respond-to(laptop) {
      font-size: 16px;
    }
    a{
      color:inherit;
      text-decoration: none;
    }
  }
  
  .logo {
    font-family: Larken-Medium;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    
    @include respond-to(tablet) {
      font-size: 40px;
      line-height: 50px;
    }
    
    @include respond-to(laptop) {
      font-size: 50px;
      line-height: 60px;
    }
  }
  
  .mobile-menu-btn {
    display: block;
    background: none;
    border: none;
    color: #FFF;
    font-size: 24px;
    
    @include respond-to(desktop) {
      display: none;
    }
  }
  
  &.mobile-open ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    
    li {
      padding: 10px 0;
      border-bottom: 1px solid rgba(255,255,255,0.1);
    }
  }
}

.professional {
  grid-area: professional;
  padding: 40px 20px;
  width: 100%;
  
  @include respond-to(tablet) {
    padding: 40px;
    width: 100%;
  }
  
  @include respond-to(laptop) {
    padding-left: 60px;
    width: 90%;
  }
  
  @include respond-to(desktop) {
    padding: 0px;
    padding-left: 100px;
    width: 680px;
  }
  
  h1 {
    font-family: Larken-Regular;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 15px;
    
    @include respond-to(tablet) {
      font-size: 48px;
      line-height: 1.1;
    }
    
    @include respond-to(laptop) {
      font-size: 64px;
      line-height: 70px;
      letter-spacing: -2px;
    }
    
    @include respond-to(desktop) {
      font-size: 86px;
      line-height: 94px;
      letter-spacing: -4px;
      margin-bottom: 20px;
      margin-right: 0px;
    }
  }
  
  &__des {
    font-family: Larken-Medium;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFC978;
    margin-bottom: 15px;
    
    @include respond-to(tablet) {
      font-size: 15px;
      letter-spacing: 4px;
    }
    
    @include respond-to(desktop) {
      font-size: 16px;
      letter-spacing: 5px;
      margin-bottom: 25px;
    }
  }
  
  &__slogan {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #ABAEB7;
    margin-bottom: 30px;
    margin-right: 15px;
    
    @include respond-to(tablet) {
      font-size: 20px;
      line-height: 1.6;
    }
    
    @include respond-to(desktop) {
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 1px;
      margin-bottom: 50px;
      margin-right: 20px;
    }

    br{
        display: none;
        @include respond-to(desktop){
            display: inline;
        }
    }

  }

  
  &__work {
    width: 100%;
    max-width: 212px;
    height: 50px;
    padding: 15px 25px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: capitalize;
    
    @include respond-to(tablet) {
      height: 55px;
    }
    
    @include respond-to(desktop) {
      height: 59px;
      padding: 20px 35px;
      font-size: 16px;
    }
  }
}

.header-background {
  background-image: url(../img/Professional-Disign.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: header-background;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  @include respond-to(laptop) {
    justify-content: end;
    align-items: flex-start;
    min-height: auto;
  }
  
  &__contact {
    width: 120px;
    height: 44px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 236px;

    
    @include respond-to(laptop) {
      margin-top: 25px;
      margin-right: 40px;
    }
    
    @include respond-to(desktop) {
      width: 133px;
      height: 49px;
      font-size: 16px;
      margin-right: 100px;
    }
  }
}

.interior-back {
  display: none;
  grid-area: interior;
  font-family: Roboto;
  font-weight: 800;
  text-transform: uppercase;
  color: #0B0E1766;
  text-align: center;
  font-size: 168px;
  line-height: 100px;
  letter-spacing: -12px;
  
  @include respond-to(desktop) {
    display: block;

  }
}


.star {

  display: none;
  
  @include respond-to(desktop) {
    display: block;
    position: relative;
    bottom: 535px;
    left: 677px;
    z-index: -2;
  }
}

.wave {
  position: absolute;
  top: 10px;
  z-index: -1;
  width: 100%;
  @include respond-to(laptop) {
    top: 30px;
    width: 900px;
  }
}

