.pre-footer{
    width: 100%;
    max-width: 1820px;
    margin-top: 50px;
    display: flex;
    gap: 0px;
    overflow-x: scroll;

    @include respond-to(laptop){
        margin-top: 100px;
    }

    @include respond-to(desktop){
        margin: auto;
        margin-top: 140px;
        overflow-x: hidden;
    }

    &__img{
        width: 260px;
        height: 350px;
        margin-block: 0px;
        margin-inline: 0px;

    }
}
.footer{

    
    padding: 0px 20px 0px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 120px 208px;
    grid-template-rows: 200px 245px;
    grid-template-areas: 
    "left left"
    "center right";
    row-gap: 90px;
    column-gap: 60px;

    @include respond-to(laptop){
        width: 100%;
        height: 249px;
        margin: 70px auto 0px;
        display: grid;
        grid-template-columns: 350px 1fr 350px;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "left center right";
        row-gap: 0px;
        column-gap: 0px;
    }
    @include respond-to(desktop){
        max-width: 1290px;
        grid-template-columns: 450px 1px 1fr 1px 450px;
        grid-template-areas: 
        "left . center .right";
    }

    &-left{
        grid-area: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        @include respond-to(desktop){
            gap: 93px;
        }
        
        p{
            font-family: Roboto;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #D7E0E1;

            width: 350px;
        }

        img{
            width: 139px;
            height: 50px;
        }
    }
    > img{
        width: 1px;
        height: 249px;
        display: none;

        @include respond-to(desktop){
            display: block;
        }
    }
    &-center{
        grid-area: center;
        display: flex;
        justify-content: center;
        align-items: start;

        a{
            font-family: Roboto;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;
            color: #ABAEB7;
        }
        li:first-child{
            margin-top: 0px;
            a{
                
                color: #FFB077;
            }
        }
        li{
            margin-top: 25px;
        }

    }
    &-right{
        grid-area: right;
        display: flex;
        flex-direction: column;
        gap: 30px;



        h4{
            margin-block: 0px;
            font-family: Larken-Regular;
            font-weight: 400;
            font-style: Regular;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            @include respond-to(desktop){
                margin-left: 100px;
            }
        }
        p{
            margin-top: 15px;
            font-family: Roboto;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0%;
            color:#ABAEB7;
            @include respond-to(desktop){
                margin-left: 100px;
            }
        }
    }
}
footer{
    margin: auto;
    max-width: 388px;
    @include respond-to(laptop){
        max-width: 984px;
    }
    @include respond-to(desktop){
        max-width: 1290px;
    }
}
.copyright{
    margin: 85px auto 15px auto;
        p{
        text-align: center;
        font-family: Roboto;
        font-weight: 300;
        font-style: Light;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color:#ABAEB7;
        span{
            font-family: Roboto;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0%;
            color:#FFB077;
        }
    }
}