.pre-footer{
    width: 100%;
    max-width: 1820px;
    margin-top: 50px;
    display: flex;
    gap: 0px;
    overflow-x: scroll;

    @include respond-to(laptop){
        margin-top: 100px;
    }

    @include respond-to(desktop){
        margin: auto;
        margin-top: 140px;
        overflow-x: hidden;
    }

    &__img{
        width: 260px;
        height: 350px;
        margin-block: 0px;
        margin-inline: 0px;

    }
}
.footer{
    max-width: 1290px;
    width: 100%;
    height: 249px;
    margin-left: 315px;
    margin-top: 140px;
    display: grid;
    grid-template-columns: 450px 1px 1fr 1px 450px;

    &-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 249px;
        p{
            font-family: Roboto;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0%;
            color: #D7E0E1;

            width: 350px;
        }

        img{
            width: 139px;
            height: 50px;
        }
    }
    > img{
        width: 1px;
        height: 249px;
    }
    &-center{
        display: flex;
        justify-content: center;
        align-items: start;

        a{
            font-family: Roboto;
            font-weight: 500;
            font-style: Medium;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;
            color: #ABAEB7;
        }
        li{
            margin-top: 25px;
        }
        li:first-child{
            a{
                color: #FFB077;
            }
        }
    }
    &-right{
        display: flex;
        flex-direction: column;
        gap: 30px;



        h4{
            margin-block: 0px;
            margin-left: 100px;
            font-family: Larken-Regular;
            font-weight: 400;
            font-style: Regular;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
        }
        p{
            margin-left: 100px;
            margin-top: 15px;
            font-family: Roboto;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0%;
            color:#ABAEB7;
        }
    }
}
.copyright{
    margin: 70px auto 15px auto;
        p{
        text-align: center;
        font-family: Roboto;
        font-weight: 300;
        font-style: Light;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        color:#ABAEB7;
        span{
            font-family: Roboto;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0%;
            color:#FFB077;
        }
    }
}