.our-team{
    margin: -22px auto 0px;
    max-width: 1290px;

    &__des{
        margin-left: 20px;
        font-family: Larken-Medium;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 100%;
        color: #FFC978;
        @include respond-to(desktop){
            margin-left: 0px;
            letter-spacing: 5px;
        }
    }

    h3{
        margin-top: 20px;
        margin-left: 20px;
        font-family: Larken-Regular;
        font-weight: 400;
        font-style: Regular;
        font-size: 36px;
        line-height: 70px;
        letter-spacing: 0%;
        margin-block: 0px;
        @include respond-to(desktop){
            font-size: 70px;
            margin-left: 0px;
            margin-top: 10px;
            letter-spacing: -2px;
        }
    }
    &__img{
        margin-top: 67px;
        width: 100%;
        max-width: 1290px;
        max-height: 649px;

    }

    .team-list{
        margin-top: 20px;
        width: 100%;
        max-width: 1290px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        @include respond-to(laptop){
            margin-top: 30px;
        }
        @include respond-to(desktop){
            margin-top: 50px;
        }

        &__a{
            width: 100%;
            height: 44px;
            border-bottom: 1px #ABAEB7 solid;

            p{
                font-family: Roboto;
                font-weight: 500;
                font-style: Medium;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 3%;
                text-transform: uppercase;
                text-align: center;

                @include respond-to(laptop){
                    margin-left: 5px;
                    text-align: left;
                    letter-spacing: 1px;
                }

            }
        }
    }
}